<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
 </h2>
 		<!-- 교보문고 베스트셀러 블록 코드 -->
        <!-- 수정 220425 베스트/스테디 태그 현행화 -->
        <ul class="category_tag_list" id="best_ul">
            <!-- DESC : 활성화된 category_item active class 추가 -->
            <li class="category_item active" data-type="000"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '탭_전체', '');"><span class="text">전체</span></button></li>
            <li class="category_item" data-type="001"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '탭_국내도서', '');"><span class="text">국내도서</span></button></li>
            <li class="category_item" data-type="002"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '탭_외국도서', '');"><span class="text">외국도서</span></button></li>
            <li class="category_item" data-type="003"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '탭_eBook', '');"><span class="text">eBook</span></button></li>
            <li class="category_item" data-type="004"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '탭_sam', '');"><span class="text">sam</span></button></li>
            <li class="category_item" data-type="005"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '탭_핫트랙스', '');"><span class="text">핫트랙스</span></button></li>
            <li class="category_item" data-type="006"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '탭_교보ONLY', '');"><span class="text">교보ONLY</span></button></li>
        </ul>
        <ul class="category_tag_list hidden" id="steady_ul">
            <!-- DESC : 활성화된 category_item active class 추가 -->
            <li class="category_item active" data-type="001"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '스테디', '', '탭_국내도서', '');"><span class="text">국내도서</span></button></li>
            <li class="category_item" data-type="002"><button type="button" class="btn_category" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '스테디', '', '탭_외국도서', '');"><span class="text">외국도서</span></button></li>
        </ul>
        <!-- //수정 220425 베스트/스테디 태그 현행화 -->
        <div class="right_area">
          <a href="javascript:void(0)" class="btn_more_plus_text" onclick="ga360.GA_Event('click_종이책_웰컴_PC', '베스트', '', '더보기', '');"><span class="text">더보기</span><span class="ico_plus"></span></a>
        </div>
      </div>
      <!-- 수정 220425 베스트/스테디 상품 영역 UI 변경 -->
      <div class="best_steady_wrap" id="best_item_list">
        <!-- DESC : 위 btn_title_toggle active 상태에 따라 "베스트 셀러" 또는 "스테디 셀러" 처리 -->
        <h2 class="hidden">베스트 셀러</h2><!-- 수정 220425 SEO H태그 적용 -->

</body>
</html>