<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content"> <!-- 조각만들기 -->

<h1>Board List Page
    <span>
        <a th:href="@{/board1/register1}">
            <button type="button" class="btn btn-outline-primary"> 게시물 등록</button>
        </a>
    </span>
</h1>

<table class="table table-striped">
    <!-- 부트스트랩의 스타일 적용 -->
    <thead>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    	<tr th:each="dto : ${list}">
    	
    	<th>
    	
    		<a th:href="@{/board1/read1( no = ${dto.no} )}"> [[${dto.no}]]</a>
    	
    	</th>
    	<td>[[${dto.title}]]</td>
    	<td>[[${dto.writer}]]</td>
    	
    	
    	<td>[[${ #temporals.format( dto.regDate , 'yyyy/MM/dd')}]]</td>
    	
    	</tr>
    </tbody>

</table>

		<script th:inline="javascript">
		
		$(document).ready(
					function(){
						
						var msg = [[${msg}]];
						
						if(msg != null){
							alert(msg + "번 글이 등록되었습니다.");
						}
					}		
				);
		
		</script>



	</th:block>

</th:block>
